/cognitics/ObjTest/x64
/cognitics/meshgen/x64
/cognitics/cognitics/.vs
/ThirdParty/boost_1_69_0
/ThirdParty/IPP6.1.5
/ThirdParty/gdal204
cognitics/cdbinfo/x64/Debug/cdbinfo.log
cognitics/cdbinfo/x64/Debug/cdbinfo.obj
cognitics/cdbinfo/x64/Debug/cdbinfo.tlog/cdbinfo.lastbuildstate
cognitics/cdbinfo/x64/Debug/cdbinfo.tlog/cdbinfo.write.1u.tlog
cognitics/cdbinfo/x64/Debug/cdbinfo.tlog/CL.command.1.tlog
cognitics/cdbinfo/x64/Debug/cdbinfo.tlog/CL.read.1.tlog
cognitics/cdbinfo/x64/Debug/cdbinfo.tlog/CL.write.1.tlog
cognitics/cdbinfo/x64/Debug/cdbinfo.tlog/link.command.1.tlog
cognitics/cdbinfo/x64/Debug/cdbinfo.tlog/link.read.1.tlog
cognitics/cdbinfo/x64/Debug/cdbinfo.tlog/link.write.1.tlog
cognitics/cdbinfo/x64/Debug/vc141.idb
cognitics/cdbinfo/x64/Debug/vc141.pdb
cognitics/mesh2cdb/x64/Debug/mesh2cdb.log
cognitics/mesh2cdb/x64/Debug/mesh2cdb.obj
cognitics/mesh2cdb/x64/Debug/mesh2cdb.tlog/CL.command.1.tlog
cognitics/mesh2cdb/x64/Debug/mesh2cdb.tlog/CL.read.1.tlog
cognitics/mesh2cdb/x64/Debug/mesh2cdb.tlog/CL.write.1.tlog
cognitics/mesh2cdb/x64/Debug/mesh2cdb.tlog/link.command.1.tlog
cognitics/mesh2cdb/x64/Debug/mesh2cdb.tlog/link.read.1.tlog
cognitics/mesh2cdb/x64/Debug/mesh2cdb.tlog/link.write.1.tlog
cognitics/mesh2cdb/x64/Debug/mesh2cdb.tlog/mesh2cdb.lastbuildstate
cognitics/mesh2cdb/x64/Debug/mesh2cdb.tlog/mesh2cdb.write.1u.tlog
cognitics/mesh2cdb/x64/Debug/meshconvert.obj
cognitics/mesh2cdb/x64/Debug/meshrender.obj
cognitics/mesh2cdb/x64/Debug/vc141.idb
cognitics/mesh2cdb/x64/Debug/vc141.pdb
cognitics/cognitics/.vs/cognitics/v15/.suo
cognitics/cognitics/.vs/cognitics/v15/Browse.VC.db
cognitics/cognitics/.vs/cognitics/v15/Browse.VC.opendb
cognitics/cognitics/.vs/cognitics/v15/Solution.VC.db-shm
cognitics/cognitics/.vs/cognitics/v15/Solution.VC.db-wal
cognitics/cdbinfo/cdbinfo.vcxproj.user
cognitics/cognitics/.vs/cognitics/v15/.suo
cognitics/cognitics/.vs/cognitics/v15/Browse.VC.db
cognitics/cognitics/.vs/cognitics/v15/Browse.VC.opendb
cognitics/cognitics/.vs/cognitics/v15/Solution.VC.db-shm
cognitics/cognitics/.vs/cognitics/v15/Solution.VC.db-wal
cognitics/cognitics/.vs/cognitics/v15/.suo
cognitics/cognitics/.vs/cognitics/v15/Browse.VC.db
cognitics/cognitics/.vs/cognitics/v15/Browse.VC.opendb
cognitics/cognitics/.vs/cognitics/v15/Solution.VC.db-shm
cognitics/cognitics/.vs/cognitics/v15/Solution.VC.db-wal
